include ../user/top.jade  
        .mainimgae
                il
                        if (id=="root")
                                .manager
                                        a(href="/admin/member") 회원관리
                                        a(href="/admin/product") 상품관리
                                        a(href="/admin/order") 주문관리
                                        a(href="/admin/faq") FAQ관리
                        else
                                img#mainb(background: src="./img/5.jpg")
                                <br>
                        img#maini(background: src="./img/6.png")
                        img#maini(background: src="./img/7.png")
                        img#maini(background: src="./img/8.png")
include ../user/bot.jade
        script.
                        var current = 1;
                        $("#mainb").onclick(function(){
                                href="/"
                                if(current == 1){
                                        $("#mainb").background = scr"./img/2.jpg"
                                        $("#mainb").children().attr('src','./img/2.jpg');
                                }
                        })

                
               

                                        

                        
                        







